# **Crime Data Pandas practices**

In [64]:
# This makes it so that jupyter wont just output the last line, but everything that gets outputted.
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [65]:
import pandas as pd
import numpy as np

**Read the file**

In [66]:
df = pd.read_csv('C:\\Users\\ployp\\OneDrive\\Desktop\\panda\\CrimeData\\Crime_Data_from_2020_to_Present.csv')

**Indexing column**

In [67]:
#Let's inexing a column so that we can use it to filter the data easier
df.set_index('DR_NO')

,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,Mocodes,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
DR_NO,,,,,,,,,,,,,,,,,,,,,
190326475,03/01/2020 12:00:00 AM,03/01/2020 12:00:00 AM,2130,7,Wilshire,784,1,510,VEHICLE - STOLEN,NaN,...,AA,Adult Arrest,510.0,998.0,NaN,NaN,1900 S LONGWOOD AV,NaN,34.0375,-118.3506
200106753,02/09/2020 12:00:00 AM,02/08/2020 12:00:00 AM,1800,1,Central,182,1,330,BURGLARY FROM VEHICLE,1822 1402 0344,...,IC,Invest Cont,330.0,998.0,NaN,NaN,1000 S FLOWER ST,NaN,34.0444,-118.2628
200320258,11/11/2020 12:00:00 AM,11/04/2020 12:00:00 AM,1700,3,Southwest,356,1,480,BIKE - STOLEN,0344 1251,...,IC,Invest Cont,480.0,NaN,NaN,NaN,1400 W 37TH ST,NaN,34.0210,-118.3002
200907217,05/10/2023 12:00:00 AM,03/10/2020 12:00:00 AM,2037,9,Van Nuys,964,1,343,SHOPLIFTING-GRAND THEFT ($950.01 & OVER),0325 1501,...,IC,Invest Cont,343.0,NaN,NaN,NaN,14000 RIVERSIDE DR,NaN,34.1576,-118.4387
220614831,08/18/2022 12:00:00 AM,08/17/2020 12:00:00 AM,1200,6,Hollywood,666,2,354,THEFT OF IDENTITY,1822 1501 0930 2004,...,IC,Invest Cont,354.0,NaN,NaN,NaN,1900 TRANSIENT,NaN,34.0944,-118.3277
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
241605270,02/11/2024 12:00:00 AM,02/11/2024 12:00:00 AM,1920,16,Foothill,1681,2,888,TRESPASSING,0913 1202 1501,...,AA,Adult Arrest,888.0,NaN,NaN,NaN,8700 SHARP AV,NaN,34.2278,-118.4051
241604405,01/14/2024 12:00:00 AM,01/13/2024 12:00:00 AM,720,16,Foothill,1673,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",0400 1822 1310 0416,...,IC,Invest Cont,230.0,NaN,NaN,NaN,8700 LANKERSHIM BL,NaN,34.2271,-118.3878
242106032,02/20/2024 12:00:00 AM,02/17/2024 12:00:00 AM,2330,21,Topanga,2103,1,420,THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER),0385,...,IC,Invest Cont,420.0,NaN,NaN,NaN,22700 NAPA ST,NaN,34.2260,-118.6214
242004546,01/16/2024 12:00:00 AM,01/16/2024 12:00:00 AM,1510,20,Olympic,2013,2,624,BATTERY - SIMPLE ASSAULT,2047 0400 0429 0444 1202 1822,...,IC,Invest Cont,624.0,NaN,NaN,NaN,HOBART BL,3RD ST,34.0690,-118.3054
240104953,01/15/2024 12:00:00 AM,01/15/2024 12:00:00 AM,100,1,Central,101,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),0329 0400 0416,...,IC,Invest Cont,745.0,NaN,NaN,NaN,1300 W SUNSET BL,NaN,34.0685,-118.2460

**1. How many rows and columns are in the dataset?**

In [68]:
#Output the columns
df.columns

#Output the rows by using slicing from 1 - 20
df.iloc[0:20]

Index(['DR_NO', 'Date Rptd', 'DATE OCC', 'TIME OCC', 'AREA', 'AREA NAME',
       'Rpt Dist No', 'Part 1-2', 'Crm Cd', 'Crm Cd Desc', 'Mocodes',
       'Vict Age', 'Vict Sex', 'Vict Descent', 'Premis Cd', 'Premis Desc',
       'Weapon Used Cd', 'Weapon Desc', 'Status', 'Status Desc', 'Crm Cd 1',
       'Crm Cd 2', 'Crm Cd 3', 'Crm Cd 4', 'LOCATION', 'Cross Street', 'LAT',
       'LON'],
      dtype='object')

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,190326475,03/01/2020 12:00:00 AM,03/01/2020 12:00:00 AM,2130,7,Wilshire,784,1,510,VEHICLE - STOLEN,...,AA,Adult Arrest,510.0,998.0,NaN,NaN,1900 S LONGWOOD AV,NaN,34.0375,-118.3506
1,200106753,02/09/2020 12:00:00 AM,02/08/2020 12:00:00 AM,1800,1,Central,182,1,330,BURGLARY FROM VEHICLE,...,IC,Invest Cont,330.0,998.0,NaN,NaN,1000 S FLOWER ST,NaN,34.0444,-118.2628
2,200320258,11/11/2020 12:00:00 AM,11/04/2020 12:00:00 AM,1700,3,Southwest,356,1,480,BIKE - STOLEN,...,IC,Invest Cont,480.0,NaN,NaN,NaN,1400 W 37TH ST,NaN,34.0210,-118.3002
3,200907217,05/10/2023 12:00:00 AM,03/10/2020 12:00:00 AM,2037,9,Van Nuys,964,1,343,SHOPLIFTING-GRAND THEFT ($950.01 & OVER),...,IC,Invest Cont,343.0,NaN,NaN,NaN,14000 RIVERSIDE DR,NaN,34.1576,-118.4387
4,220614831,08/18/2022 12:00:00 AM,08/17/2020 12:00:00 AM,1200,6,Hollywood,666,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,NaN,NaN,NaN,1900 TRANSIENT,NaN,34.0944,-118.3277
5,231808869,04/04/2023 12:00:00 AM,12/01/2020 12:00:00 AM,2300,18,Southeast,1826,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,NaN,NaN,NaN,9900 COMPTON AV,NaN,33.9467,-118.2463
6,230110144,04/04/2023 12:00:00 AM,07/03/2020 12:00:00 AM,900,1,Central,182,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,NaN,NaN,NaN,1100 S GRAND AV,NaN,34.0415,-118.2620
7,220314085,07/22/2022 12:00:00 AM,05/12/2020 12:00:00 AM,1110,3,Southwest,303,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,NaN,NaN,NaN,2500 S SYCAMORE AV,NaN,34.0335,-118.3537
8,231309864,04/28/2023 12:00:00 AM,12/09/2020 12:00:00 AM,1400,13,Newton,1375,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,NaN,NaN,NaN,1300 E 57TH ST,NaN,33.9911,-118.2521
9,211904005,12/31/2020 12:00:00 AM,12/31/2020 12:00:00 AM,1220,19,Mission,1974,2,624,BATTERY - SIMPLE ASSAULT,...,IC,Invest Cont,624.0,NaN,NaN,NaN,9000 CEDROS AV,NaN,34.2336,-118.4535
10,221804943,01/21/2022 12:00:00 AM,07/01/2020 12:00:00 AM,1335,18,Southeast,1822,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,NaN,NaN,NaN,100 W COLDEN AV,NaN,33.9492,-118.2739
11,221908151,04/12/2022 12:00:00 AM,10/01/2020 12:00:00 AM,1,19,Mission,1988,1,821,SODOMY/SEXUAL CONTACT B/W PENIS OF ONE PERS TO...,...,IC,Invest Cont,812.0,821.0,NaN,NaN,13400 RANGOON ST,NaN,34.2285,-118.4258
12,230204214,01/05/2023 12:00:00 AM,02/01/2020 12:00:00 AM,800,2,Rampart,201,2,812,CRM AGNST CHLD (13 OR UNDER) (14-15 & SUSP 10 ...,...,IC,Invest Cont,812.0,860.0,NaN,NaN,900 N MARIPOSA AV,NaN,34.0868,-118.2991
13,221008844,05/06/2022 12:00:00 AM,11/01/2020 12:00:00 AM,130,10,West Valley,1029,1,510,VEHICLE - STOLEN,...,IC,Invest Cont,510.0,NaN,NaN,NaN,VALJEAN ST,VANOWEN AV,34.1939,-118.4859
14,230207571,03/16/2023 12:00:00 AM,01/01/2020 12:00:00 AM,1500,2,Rampart,271,2,810,"SEX,UNLAWFUL(INC MUTUAL CONSENT, PENETRATION W...",...,JA,Juv Arrest,810.0,NaN,NaN,NaN,900 S LAKE ST,NaN,34.0539,-118.2799
15,230312288,06/01/2023 12:00:00 AM,02/02/2020 12:00:00 AM,315,3,Southwest,391,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,NaN,NaN,NaN,4200 SANTO TOMAS DR,NaN,34.0103,-118.3456
16,231805781,02/03/2023 12:00:00 AM,07/01/2020 12:00:00 AM,805,18,Southeast,1802,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,NaN,NaN,NaN,400 W 90TH ST,NaN,33.9551,-118.2814
17,231322474,12/24/2023 12:00:00 AM,01/09/2020 12:00:00 AM,1200,13,Newton,1354,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,NaN,NaN,NaN,4000 WALL ST,NaN,34.0112,-118.2716
18,210705560,11/27/2020 12:00:00 AM,11/27/2020 12:00:00 AM,1800,7,Wilshire,776,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",...,AA,Adult Arrest,230.0,NaN,NaN,NaN,4500 LOMITA ST,NaN,34.0452,-118.3351
19,221016258,09/20/2022 12:00:00 AM,01/01/2020 12:00:00 AM,1,10,West Valley,1067,2,956,"LETTERS, LEWD - TELEPHONE CALLS, LEWD",...,IC,Invest Cont,956.0,NaN,NaN,NaN,5200 GENESTA AV,NaN,34.1660,-118.5033

**2. What are the column names and data types in the dataset?**

In [69]:
#Looking up the data type can use the "type()"" function
type(df["Vict Age"])

type(df["Vict Descent"])

pandas.core.series.Series

pandas.core.series.Series

**3. Are there any missing values in the dataset? If so, in which columns?**

In [70]:
#Assign the data to be display as a dataframe(table)
df = pd.DataFrame(df)

#Sum up the missing value in each column
missing_value = df.isnull().sum()
missing_value #This cant be assign as df[] because it is a series of sums, not a list of columns

DR_NO                  0
Date Rptd              0
DATE OCC               0
TIME OCC               0
AREA                   0
AREA NAME              0
Rpt Dist No            0
Part 1-2               0
Crm Cd                 0
Crm Cd Desc            0
Mocodes           128292
Vict Age               0
Vict Sex          122078
Vict Descent      122087
Premis Cd             10
Premis Desc          557
Weapon Used Cd    600943
Weapon Desc       600943
Status                 0
Status Desc            0
Crm Cd 1              11
Crm Cd 2          851659
Crm Cd 3          916192
Crm Cd 4          918378
LOCATION               0
Cross Street      774119
LAT                    0
LON                    0
dtype: int64

**4. Calculate summary statistics for the numerical columns (mean, median, standard deviation).**

In [71]:
#calculate mean value
mean_value = df['Vict Age'].mean()
mean_value

#calculate median value
median_value = df['Vict Age'].median()
median_value

#Calculate standard deviation
std_value = df['Vict Age'].std()
std_value

29.573728581958814

31.0

21.858617125957633

**5. How many unique values are in each of the categorical columns?**

In [72]:
#Count weapon used in each category  
count = df['Weapon Desc'].value_counts()
count

Weapon Desc
STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)    170011
UNKNOWN WEAPON/OTHER WEAPON                        34402
VERBAL THREAT                                      23241
HAND GUN                                           19655
SEMI-AUTOMATIC PISTOL                               7086
                                                   ...
MAC-11 SEMIAUTOMATIC ASSAULT WEAPON                    3
HECKLER & KOCH 91 SEMIAUTOMATIC ASSAULT RIFLE          2
MAC-10 SEMIAUTOMATIC ASSAULT WEAPON                    2
M-14 SEMIAUTOMATIC ASSAULT RIFLE                       2
M1-1 SEMIAUTOMATIC ASSAULT RIFLE                       1
Name: count, Length: 79, dtype: int64

**6. What are the top 5 types of crimes reported in the dataset?**

In [73]:
#First we want to sort the data by the Crime Code Description, and set the ascending to False so that it will be sorted in descending order
df.sort_values(by='Crm Cd Desc', ascending=False).head(5)

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
707529,240104710,01/11/2024 12:00:00 AM,11/30/2023 12:00:00 AM,700,1,Central,124,2,756,WEAPONS POSSESSION/BOMBING,...,IC,Invest Cont,756.0,NaN,NaN,NaN,ST ANDREWS,DE LONGPRE AV,34.0525,-118.2432
833887,230300679,05/15/2023 12:00:00 AM,05/15/2023 12:00:00 AM,1842,3,Southwest,358,2,756,WEAPONS POSSESSION/BOMBING,...,IC,Invest Cont,756.0,NaN,NaN,NaN,600 W 34TH ST,NaN,34.0212,-118.2805
825925,231107773,04/12/2023 12:00:00 AM,04/11/2023 12:00:00 AM,2350,11,Northeast,1163,2,756,WEAPONS POSSESSION/BOMBING,...,IC,Invest Cont,756.0,NaN,NaN,NaN,NEW HAMPSHIRE AV,LEXINGTON AV,34.0934,-118.2928
621190,220717413,12/05/2022 12:00:00 AM,12/05/2022 12:00:00 AM,1210,7,Wilshire,721,2,756,WEAPONS POSSESSION/BOMBING,...,IC,Invest Cont,756.0,998.0,NaN,NaN,8700 GRACIE ALLEN DR,NaN,34.0753,-118.3795
631774,221510989,06/12/2022 12:00:00 AM,06/11/2022 12:00:00 AM,1920,15,N Hollywood,1504,2,756,WEAPONS POSSESSION/BOMBING,...,IC,Invest Cont,756.0,NaN,NaN,NaN,7400 LANKERSHIM BL,NaN,34.2045,-118.3920

**7. On which days of the week do most crimes occur?**

In [50]:
#Assigning 'Date Rptd' to datetime format
df['Date Rptd'] = pd.to_datetime(df['Date Rptd'], errors='coerce')

#day_name() is a function that will return the day of the week 
#'Date Rptd' is now being assign to 'Day of Week' to turn into a string format
df['Day of Week'] = df['Date Rptd'].dt.day_name()

#Count the number of crimes that happened on each day of the week
day_counts = df['Day of Week'].value_counts()

most_crimes_day = day_counts.head(7)
print(most_crimes_day)

Date Rptd
Monday       144147
Tuesday      137658
Wednesday    136542
Thursday     133466
Friday       131361
Saturday     118580
Sunday       116689
Name: count, dtype: int64

**8. Which neighborhood has the highest number of crimes?**

In [77]:
#Count the number of crimes that happened in each neighborhood
most_crime_neighborhood = df['LOCATION'].value_counts().head(5)
most_crime_neighborhood

LOCATION
800 N  ALAMEDA                      ST      1755
6TH                          ST             1535
10200    SANTA MONICA                 BL    1471
7TH                          ST             1446
7TH                                         1414
Name: count, dtype: int64

**9. Create a new column that converts the date and time of the crime into a Python datetime object.**

In [80]:
#This will create a new column in df where 'Date Rptd' is converted to a datetime object
df['python_date'] = pd.to_datetime(df['Date Rptd'])
type(df['python_date'][0])

C:\Users\ployp\AppData\Local\Temp\ipykernel_16004\2788258704.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['python_date'] = pd.to_datetime(df['Date Rptd'])

pandas._libs.tslibs.timestamps.Timestamp

**10. Identify trends in crime over the months and years. Has crime increased or decreased?**

**11. Visualize the number of crimes in each neighborhood using a bar chart.**

**12. Which month of the year has the highest number of crimes?.**

**13. Find the average number of crimes that occur on weekdays vs. weekends.**

**14. Determine if certain types of crimes are more likely to happen in certain locations.**

**15. Group the dataset by type of crime and summarize the data.**

**16. For each type of crime, calculate the time it takes on average for the crime to be reported (if this information is available).**

**17. Merge this dataset with another dataset, like a dataset on population or socioeconomic status by neighborhood, and explore potential correlations.**

**18. Create a pivot table that shows the number of crimes by type and by neighborhood.**

**19. Apply a function to the data that categorizes each crime into a new category based on the description of the crime.**